






//Палитра
@red: #FF002F;
@purple2: #9212FB; //после авторизации
@pearl: #E4D8CA; //жемчужный
@black: #0A0412;
@purple: #9058EF; //до авторицации
@white: #FFFFFF;
@gray: #E7E8EB;
@white1: #F2F3F7; //фон