.redactor {
    &__btn-block {
        display: flex;
        justify-content: flex-start; 
        gap: 10px;
        padding: 10px;
        position: relative; 
        background-color: transparent; 
        border-bottom: 1px solid @gray; 
        margin-top: 85px;

        .btn {
            margin-top: 20px;
            padding: 10px 20px;
            border: none;
            border-radius: 7px;
            background-color: @red;
            color: @white;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
            &:hover {
                background-color: darken(@red, 10%);
                transform: scale(1.1); 
            }

            &.active {
                background-color: darken(@red, 10%); 
                transform: none;
            }
        }
    }

    &__view-block {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        //background-color: @gray;
        //border: 1px solid @gray;
        border-radius: 10px;
        padding: 20px;
        margin-top: 10px;
        overflow: auto;

        p {
            font-size: 16px;
            color: @black;
        }
    }

    &__edit-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        height: 400px;

        &-1 {
            flex: 1;
            background-color: @gray;
            border: 1px solid @gray;
            border-radius: 10px;
            padding: 20px;
            overflow: auto;
        }

        &-2 {
            flex: 1;
            border: 1px solid @gray;
            border-radius: 10px;
            padding: 10px;
            background-color: @white;

            .tox {
                height: 100%;
            }
        }
    }

    &__split-block {
        margin-top: 20px;
        display: flex;
        gap: 20px;
        height: 400px;

        & > div {
            flex: 1;
            border: 1px solid @gray;
            border-radius: 10px;
            padding: 10px;
            background-color: @white;
            overflow: auto;
        }
    }
}